.metadata
.DS_Store
.properties
.project
.prefs
.policy
.xml
.component
manifest.MF
.name
.container
.classpath
.jsdtscope
.settings
catalina.policy
catalina.properties
context.xml
server.xml
tomcat-users.xml
web.xml
config.properties
